
{% extends "base.html" %}
{% block title %}FAQ — GlobeMTV{% endblock %}
{% block content %}
<section class="container">
  <h1 class="section-title">Frequently Asked Questions</h1>
  <h3><i class="fa-solid fa-arrow-pointer" style="color: #037bfc;"></i>   Click At The Questions to View The answer </h3>
  <div class="faq">
    <details open>
      <summary>What devices are supported?</summary>
      <p>Smart TV (Samsung & LG), PC, Mac, Apple iPhone, iPad, Apple TV 4 & 5, Amazon Fire Stick, GMTV box, Android phones, and tablets, Android box, MAG, AVOV, VU+, Enigma 2, Dreambox, Openbox, Dreamlink and STB Emulator.</p>
    </details>
    <details>
      <summary>Do you charge setup fees?</summary>
      <p>No, activation is instant and there are no setup fees.</p>
    </details>
    <details>
      <summary>Is there a free trial?</summary>
      <p>Yes, a 24-hour free trial is available to experience the full package.</p>
    </details>
    <details>
      <summary>How do I get support?</summary>
      <p>Use the contact form or email us at globemtv@gmail.com any time. We aim to respond within 24 to 48 working hours.</p>
    </details>
    <details>
      <summary>Buffering on channels ?</summary>
      <p>Cause: If you are using LAN (Ethernet) Cable please unplug behind the box and re-plug it in, and If you are using wi-fi go on Tv setting and disconnect the wi-fi and connect again and unplug the power cable behind the box and re-plug it in. Sometimes you may experience buffering due to low internet speed or high internet traffic.</p>
    </details>
    <details>
      <summary>What do I need to look for TV ?</summary>
      <p>To install and use the GMTV, you need the following: High-speed Internet connection (recommended or higher) at least 8.0 Mbps. A functioning Smart TV. The recipient of the GMTV us.</p>
    </details>
    <details>
      <summary>What payment methods are available ?</summary>
      <p>GlobeMTV has been managing TV services for a long time, and we know how important secure billing is for our customers' trust. That's why we provide a wide range of safe and reliable payment gateways.

One of the most trusted options is PayPal, where you can pay directly or use your Debit/Credit card even if you don't have a PayPal account.

We take data security seriously and consistently monitor our systems. Plus, our team is available 24/7 to help with any payment or service-related issues.</p>
    </details>
    <details>
      <summary>How do I check my internet speed and quality ?</summary>
      <p>Please use the speed test link https://www.speedtest.net/ to test your internet connection. Do this a few times throughout the day. This will give you a good idea of overall internet speed available to you. A stable 8.0 Mbps is the minimum requirement.</p>
    </details>
  </div>
</section>
  <a href="{{ url_for('chatbot') }}" class="chat-fab" id="chatBtn" title="Chat with GlobeMTV">
    <i class="bi bi-robot"></i>
  </a>
{% endblock %}
